# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languajes in Data Science
* Commonly libraries in Data Science
* Common Data Science Tools

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 #this will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mauro